{{ include('header.twig') }}
{{ include('menu.twig') }}
<div class="content">
    <h1>Admin</h1>

    <hr />Site Admin:
    <ul>
        <li><a href="site/settings/">Site Settings</a></li>
        <li><a href="site/database/">Database Settings</a></li>
    </ul>

    <hr />Category Admin:
    <ul>
        <li><a href="category/list/">Category List</a></li>
        <li><a href="category/search/">Category Search</a></li>
    </ul>

    <hr />Media Admin:
    <ul>
        <li><a href="media/list/">Media List</a></li>
        <li><a href="media/search/">Media Search</a></li>
    </ul>

    <hr />Page Admin:
    <ul>
        <li><a href="page/list/">Page List</a></li>
        <li><a href="page/search/">Page Search</a></li>
    </ul>

    <hr />Source Admin:
    <ul>
        <li><a href="source/list/">Source List</a></li>
    </ul>

</div>
{{ include('footer.twig') }}
