{# shared-media-gallery  admin/home.twig  v0.0.1 #}
{{ include('header.twig') }}
{{ include('menu.twig') }}
<div class="content">
	<ul>
		<li><a href="category/">Category</a></li>
		<li><a href="media/">Media</a></li>
		<li><a href="debug/">Debug</a></li>
	</ul>
</div>
{{ include('footer.twig') }}
