{# shared-media-gallery  admin/media.save.twig  v0.0.1 #}
{{ include('header.twig') }}
{{ include('menu.twig') }}
<div class="content">
[ADMIN.MEDIA.SAVE]
{{ dump(post) }}
</div>
{{ include('footer.twig') }}
