{{ include('header.twig') }}
{{ include('menu.twig') }}
<div class="content">
	<h1>Database Admin</h1>
	<hr />
	<p><a href="">Set Database Type</a> - SqLite, MySQL, PostgreSQL, MSSQL, Oracle</p>
	<p><a href="">Create Empty Database</p>
</div>
{{ include('footer.twig') }}
