{# shared-media-gallery  footer.twig  v0.0.1 #}
<footer>
<a href="{{ uriBase }}/">Shared Media Gallery v{{ version }}</a>
&nbsp;|&nbsp;
<a href="{{ uriBase }}/about/">about</a>
&nbsp;|&nbsp;
<a href="{{ uriBase }}/admin/">admin</a>    
&nbsp;|&nbsp;
<a target="github" href="https://github.com/attogram/shared-media-gallery">github</a>
</footer>
</body>
</html>
