{# shared-media-gallery  header.twig  v0.0.1 #}
<!doctype html>
<html>
<head>
<title>{{ title }}</title>
<meta charset="utf-8" />
<meta name="viewport" content="initial-scale=1" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<link rel="stylesheet" type="text/css" href="gallery.css" />
</head>
<body>
