/* attogram/shared-media-gallery - gallery.css - v0.0.1 */
body {
    background-color:black;
    color:white;
    font-family:sans-serif;
    margin:0;
    padding:0;
}
a {
    background-color:black;
    color:yellow;
    text-decoration:none;
}
a:hover, .menu a:hover, footer a:hover {
    background-color:yellow;
    color:black;
}
footer {
    background-color:#333;
    font-size:80%;
    padding:10px;
    padding-top:20px;
}
footer a {
    background-color:#333;
}
.menu {
    background-color:#333;
    padding:10px;
    padding-bottom:20px;
}
.menu a {
    background-color:#333;
}
.content {
    background-color:salmon;
    color:black;
    padding:10px;
}
